.container{
  width: 100%;
  text-align: center;  
}

.row1{
  padding: 0px 22.5px;
}

.frameimg{
  width: 100%;
  display: flex;  
  justify-content: center;
  padding-bottom: 15px;
}

.txthead1{
  color: #404040;
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 25px;
}
.txt{
  color: #404040;
  font-size: large;
  text-align: center;
  max-width: 280px;
  padding-bottom: 15px; 
  margin: auto;
}
.profileHead{
  font-weight: 500;
  font-size: x-large;
  padding-bottom: 11px;
}
.blue{
  color: #6EADE8;
}
.row2{
  display: flex;
  padding: 0px 22.5px;
  padding-bottom: 15px;
  flex-wrap: wrap;

}
.profile {
  width: 50%;
  padding-top: 10px ;
  float: left;
}

.row3{
  margin-bottom: 10px;
}

.row3 .btn{
  padding: 10px 40px;  
  background-color: #6EADE8;
  font-size: larger;
  font-weight: bold;
  color: #ffffff;
  border: 2px solid #00000010;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.row3 .btn:hover{
  background-color: #5096D7;
}

.row3 .framelink{
  padding-top: 15px;    
  font-size: larger;
  font-weight: bold;
  color: #6EADE8;
  cursor: pointer;
} 