.row1{
  width: 100%;  
  text-align: center;
  padding: 20px 10px;  
}

.txtHead{
  color: #666666;
  font-weight: 600;
  font-size: xx-large;
}

.txtSideHead{
  color: #6EADE8;  
}

.row2{
  display: inline-block;  
  overflow-x: auto;  
  overflow-y: hidden;
  width: 100%;  
}

.wrap{
  display: inline-flex;  
}


