.row1{
  width: 100%;  
  text-align: center;
  padding: 10px 10px;
  padding-top: 0px;
}

.txtHead{
  color: #666666;
  font-weight: 600;
  font-size: xx-large;
}

.txtSideHead{
  color: #6EADE8;  
}